@font-face {
  font-family: 'mexikana';
  src: url('fonts/mexicana.ttf');
}

@font-face {
  font-family: 'zabars';
  src: url('fonts/zabars.ttf');
}

@font-face {
  font-family: 'tacomodern';
  src: url('fonts/tacomodern.TTF');
}

@font-face {
  font-family: 'patternsanddots';
  src: url('fonts/patternsanddots.TTF');
}

@font-face {
  font-family: 'tacobox';
  src: url('fonts/tacobox.TTF');
}

body {
  font-family: 'zabars', Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  /* background-image: url('img/5_background/desert.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

h1 {
  font-family: 'tacobox', Arial, Helvetica, sans-serif;
  font-size: 80px;
  color: rgb(21, 85, 48);
  letter-spacing: 3px;
  text-shadow: 8px 2px 8px rgba(0, 0, 0, 0.5);
}

#startscreen {
  justify-content: center;
  background-image: url('./img/9_intro_outro_screens/start/startscreen_1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 720px;
  height: 480px;
}

.start-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-top: 16px;
  position: relative;
  gap: 32px;
}

.image-container {
  position: relative;
}

.image {
  height: 48px;
}

.hover-text {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  font-size: 24px;
  /* transition: opacity 0.15s ease-in-out; */
}

.image-container:hover .hover-text {
  opacity: 1;
}

.image-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* .play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 40px;
  width: 100px;
  border-radius: 16px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(255, 220, 0);
  color: white;
  border-color: white;
  border-style: solid;
} */

/* .play-btn img {
  height: 24px;
} */

#endscreen {
  width: 720px;
  height: 480px;
  justify-content: center;
  background-image: url('img/5_background/second_half_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.endscreen-text {
  position: absolute;
  width: 720px;
  height: 480px;
  /* z-index: 1; */
}

.endscreen-btns-top {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 50px;
  width: 100%;
  padding-top: 32px;
}

.endscreen-btns-top button:hover {
  cursor: pointer;
  background-color: rgb(255, 198, 0);
}

.restart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 40px;
  width: 140px;
  border-radius: 16px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(255, 220, 0);
  color: white;
  border-color: white;
  border-style: solid;
  z-index: 2;
}

.restart-btn-img {
  height: 28px;
}

/* important for responsive design */
canvas {
  background-color: black;
  border-radius: 24px;
  border: 5px solid rgba(0, 0, 0, 0.5);

  /* display: block; // important for responsive design */
}

/* Smartphones - - - - - - - - - - */
@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}
/* Smartphones - - - - - - - - - - */
@media only screen and (max-height: 480px) {
  h1 {
    display: none;
  }
  canvas {
    height: 100vh;
  }
}
